@media (max-width:600px) {
    header {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        .menu {
            margin-top: 1em;
        }
    }

    .container__heros {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;

        .container__heros-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;

            .heros__text {
                width: 100%;

                h2 {
                    text-align: center;
                    font-size: 1.5rem;
                }

                p {
                    text-align: center;
                    font-size: 1rem;
                }
            }

            .heros__img {
                width: 90%;
                height: 30%;
                margin-top: 3rem;

                img {
                    width: 70%;
                    height: 80%;
                }
            }
        }
    }
    .container__downnloads {
        margin: 16px 0 32px;
    }

    .downloads__conteudo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .downloads__titulo {
        display: block;
        font-size: 20px;
        text-align: center;
        margin-bottom: 70px;
    }

    .downloads__artistas {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .artistas-card {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .artistas-card__img {
        width: 100%;
    }

    .artistas-card__img img {
        width: 55%;
        max-width: 150px;
    }

    .artistas-card__texto {
        margin-top: 16px;
    }

    .artistas-card__texto h3 {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .artistas-card__texto p {
        font-size: 14px;
    }

    footer {
        margin: 8px 0 20px;
    }

    .footer__conteudo {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__links {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
        margin-bottom: 28px;
        margin-top: 60px;
        padding: 0 12px;
    }

    .footer-colunas__links {
        gap: 12px;
        text-align: center;
    }

    .footer-colunas__links a {
        font-size: 11px;
    }

    .footer__social {
        justify-content: center;
        gap: 30px;
        margin-bottom: 0;
    }

    .social {
        font-size: 14px;
    }

    .heros__text {
        order: 1;
    }

    .heros__img {
        order: 2;
    }
}