@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.quicksand-medium {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

body {
  background-color: #0C0C23;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 90%;
  
  .logo {
    margin-left: 50px;
    font-size: 30px;
  }

  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu ul {
    display: flex;
    align-items: center;
  }
  
  #menu-link {
    text-decoration: none;
    margin: 0 1rem;
    color: #fff;
  }

  #menu-link:hover {
    color: #00ffff;
  }
}

.azul-claro {
  color: #00ffff
}

.btn {
  color: #00ffff;
  border: 1px solid #00ffff;
  border-radius: 10px;
  padding: 8px 30px;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #0C0C23;
}

.container__heros {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.container__heros-moment {
  display: flex;
  align-items: center;

  .moment__text {
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .moment__text-title {
      font-size: 2em;
    }

    .moment__text-paragrafo {
      font-size: 1em;
    }

    .moment__text-button {
      margin-top: 1em;
    }
  }
}