@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.quicksand-medium {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

body {
  background-color: #0C0C23;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
  
  .logo {
    margin: 0 50px;
    font-size: 30px;
  }

  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu ul {
    display: flex;
    align-items: center;
  }
  
  #menu-link {
    text-decoration: none;
    margin: 0 1rem;
    color: #fff;
  }

  #menu-link:hover {
    color: #00ffff;
  }

  .logo i {
    margin-right: 10px;
  }
}

.azul-claro {
  color: #00ffff
}

.btn {
  color: #00ffff;
  border: 1px solid #00ffff;
  border-radius: 10px;
  padding: 8px 30px;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #0C0C23;
}

main {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.container__heros {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 5rem 0;

  .container__heros-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heros__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;

      .text-title {
        font-size: 3rem;
        width: 60%;
      }

      .text-paragrafo {
        margin-top: 1em;
        font-size: 2rem;
        width: 60%;
      }

      .heros__text-button {
        margin-top: 2.5em;
        width: 60%;
      }
    }

    .heros__img {
      width: 45%;
      height: 400px;
      border: 1px solid hsla(287, 44%, 21%, 0.418);
      border-radius: 80px 0;
      background-color: hsla(287, 44%, 21%, 0.418);
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .heros__img:hover {
      transform: scale(1.1);
    }
  }
}